useDynLib(LSPM)

export(GHPR)
export(HPR)

export(lsp)

export(optimalf)
export(maxProbProfit)

export(probDrawdown)
export(probRuin)
export(probProfit)
export(deoptim)

S3method(print,lsp)
S3method(summary,deoptim)
S3method(plot,deoptim)
